body {
  background-color: #000000;
  color: white;
  min-width: 576px;
  overflow-x: hidden;
}

.wd-content {
  padding: 16px;
  clear: both;
}

.wd-image-title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-left: 2%;
  padding-bottom: 1%;
  color: white;
  z-index: 10;
}

.wd-rounded .form-control {
  border-radius: 0 100px 100px 0;
  padding-left: 1rem;
  border-left: 0px;
}

.wd-rounded .input-group-text {
  border-radius: 100px 0 0 100px;
  border-right: 0px;
}

a#setting-icon {
  font-size: 30px;
  text-decoration: none;
  color: #15A1F2;
}

.wd-post {
  padding-left: 16px;
}

.wd-post-topic {
  font-size: 14px;
  color: #6E767D;
}

.wd-post-author {
  font-weight: bold;
}

.wd-post-timestamp {
  color: #6E767D;
}

.wd-post-description {
  font-weight: bold;
}

.wd-post-image {
  float: right;
}

.wd-post-image img {
  height: 80px;
  border-radius: 10px;
  margin: 12px;
  margin-left: 0;
}

.wd-font-weight-bold {
  font-weight: bold;
}

.wd-profile-handle {
  color: #6E767D;
}

.wd-profile-image {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50px;
}

.wd-profile-button-wrapper {
  position: absolute;
  right: 0.5em;
  align-self: center;
}